body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-Light.otf);   
 }
.home__page {

}
.slide__first_btn {
  background: url(img/btn.png) no-repeat;
  margin-left: 30px;
  width: 200px;
  height: 60px;
  border: none;
}

p span:nth-child(1) {
  font-size: 25px;
}
p span:nth-child(2) {
  font-size: 90px;
}
.home__page_img {
  position: absolute;
  margin: 25px 0 0 60px;
  width: 122px;
  height: 22x;
  z-index: 4;
  border: none;
}
.icon_home {
visibility: visible;
width: 122px;
height: 22x;
}
.slide__first_slide {

}
div p {
  margin: 85px 0 0 60px;
}
.slider {
  position: relative;
  margin: 0 0 auto;
  padding: 0;
  user-select: none;
  touch-action: pan-y;
}

.slider img {
  pointer-events: none;
}

.slider-list {

  overflow: hidden;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing{
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.slide {
  width: 1024px;
  height: 768px;
  flex-shrink: 0;
}

.slide:nth-child(1) {
  background: url(img/bg.jpg);
  background-position:center center;
  background-size:cover;
  width: 1024px;
  height: 768px;
}

.slider-arrows {
  text-align: center;
}

.next,
.prev {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;

}

.next.disabled,
.prev.disabled {
  opacity: .25;
  pointer-events: none;
}